/* class options */

body {
    font-size : 70%;
}

fieldset {
    background-color : #ccccee;
}

.options   {
    background-color: #ecc;
    padding: 4px;
}
.gameOptions   {
    background-color: #fee;
    padding: 4px;
}

.imageButton    {
    background-image: url('../art/pause.png');
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    margin-right: 4px;
}
/* option IDs */

/*  button etc stuff */

#allDataButton {
    background-color: #0a9a87;
    color: white;
}

#newGameButton {
    background-color: darkgray;
    color: white;
    position: absolute;
    right:  12px;
}

#debugText {
    white-space: pre-line;
}

#starInfo {
    margin : 4px;
    padding : 4px;
    background-color : #2f9cf3;
    color : white;
    font-size : 12pt;
    font-family: "Helvetica Neue", Verdana,sans-serif;
}
/*		BOX CLASSES		*/

.hBox	{
    display: flex;
    flex-direction: row;
}

.vBox	{
    display: flex;
    flex-direction: column;
}

.textIO {
    background-color: yellowgreen;
    margin: 2px;
    padding: 2px;
    font-family: sans-serif;
    font-size: 7pt;
    color: white;
}

input.ownslider.ui-slider-input{ display:none; }

.ownslider + div.ui-slider { margin-left: 1%; width: 96%; }

.ownslider + div.ui-slider .ui-slider-handle:after {
    font-size: 15px;
    position: absolute;
    margin-top: 6px;
    padding-left: 5px;
    content: attr(title); }

.ownslider + div.ui-slider-mini .ui-slider-handle:after {
    font-size: 13px;
    font-weight: normal; }

.ui-input-text + div.ui-slider .ui-slider-handle:active:before {
    font-size: 18px;
    position: absolute;
    top: -40px;
    left: -6px;
    padding: .2em .5em;
    background: inherit;
    content: attr(title); }
